/**************** GENERAL ****************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}
body{
    height: 100vh;
    font-weight: bold;
    background-image: linear-gradient(to bottom, #32a093 0%, #32a093 15%, #dbe0de 15%, #dbe0de 100%);
}

/**************** UTILITIES ****************/

/* Flex */
.flex{
    display: flex;
}
.jc-center{
    justify-content: center;
}
.jc-between{
    justify-content: space-between;
}
.ai-center{
    align-items: center;
}

/* Input Text */
.input-text{
    flex-grow: 1;
    height: 100%;
    border: 1px solid #f7f7f7;
}

/* Icons */
.icons-group a{
    margin-right: 17px;
    font-size: 1.4rem;
    color: #bababa;
}

/* Avatar */
.avatar{
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
}

/* Message */
.message{
    position: relative;
    width: 40%;
    word-wrap: break-word;
    background-color: #fff;
    border-radius: 10px;
}
.message.sent{
    background-color: #ddfabf;
}
.message .message-text{
    margin-top: 15px;
    padding: 0 15px;
}
.message .message-time{
    margin: 5px;
    text-align: right;
    font-size: 0.6rem;
    color: #bbb
}

/* Layout */
.app-container{
    width: 80%;
    min-width: 900px;
    height: 95%;
    background-color: #fff;
}

/**************** LEFT ASIDE ****************/
.left-aside{
    flex-basis: 35%;
    border-right: 1px solid #dfdfdf;
}

/* ASIDE HEADER */
/* User */
.aside-header .user{
    padding: 10px;
    background-color: #ededed;
}

/* Notification */
.aside-header .notification{
    padding: 15px 20px;
    background-color: #a2dffe;
}
/* Bell Icon */
.notification i.bell{
    width: 50px;
    height: 50px;
    font-size: 1.2rem;
    color: #a2dffe;
    background-color: #fff;
    border-radius: 50%;
    cursor: pointer;
}
/* Notification Text */
.notification .notification-text{
    margin-left: 10px;
}
.notification .notification-text a{
    font-size: 0.8rem;
    color: #888;
}

/* Search Contancts */
.search-contacts{
    padding: 7px;
    background-color: #fbfbfb;
}
.search-contacts .search-bar{
    height: 36px;
}
/* Search Button */
.search-bar .search-btn{
    flex-basis: 75px;
    background-color: #fff;
    border: 1px solid #f7f7f7;
    border-right: 0;
    cursor: pointer;
}
.search-bar .search-btn i{
    color: #bababa;
}
/* Search Input */
.search-bar .search-input{
    padding: 10px;
    border-radius: 3px;
}
.search-bar .search-input::placeholder{
    font-size: 0.7rem;
    letter-spacing: .5px;
    color: #cecece;
}

/* CONTACTS */
.contacts-list .contact{
    height: 80px;
    padding: 10px 20px;
    border-bottom: 1px solid #f2f2f2;
    cursor: pointer;
    transition: background-color .2s;
}
.contacts-list .contact:last-child{
    border-bottom: 0;
}
.contacts-list .contact .avatar{
    height: 60px;
    width: 60px;
    margin-right: 20px;
}
/* Contacts Interation */
.contacts-list .contact:hover{
    background-color: #eee;
}
.contacts-list .contact.active{
    background-color: #ccc;
}


/**************** APP MAIN ****************/
.app-main{
    flex-basis: 65%;
    flex-direction: column;
}

/* CHAT HEADER */
.app-main .chat-header{
    flex-basis: 70px;
    padding: 10px;
    background-color: #ededed;
}

/* Contact Data */
.conv-contact .contact-data .contact-status{
    margin-top: 5px;
    font-size: 0.8rem;
    color: #888; 
}

/* CHAT */
.app-main .chat{
    flex-grow: 1;
    padding: 50px 100px 20px;
    background-image: url('../img/mine.jpg');
    overflow-y: auto;
}
/* Message Line */
.chat .message-line{
    margin-bottom: 10px;
}
.chat .message-line.sentline{
    justify-content: flex-end;
}

/* CHAT FOOTER */
.app-main .chat-footer{
    flex-basis: 70px;
    padding: 10px 0;
    background-color: #ededed;
}

/* Chat Footer Icons */
.chat-footer .emoji,
.chat-footer .phone{
    flex-basis: 100px;
}
.chat-footer .emoji i,
.chat-footer .phone i{
    font-size: 1.5rem;
    color: #777;
}

/* Chat Input */
.chat-footer .chat-input{
    padding: 15px;
    border-radius: 5px;
}
.chat-footer .chat-input::placeholder{
    color: #bbb;
}