<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Boolzapp</title>
</head>

<!-- VUE -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>

<!-- FONTS -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap" rel="stylesheet">

<!-- ICONS -->
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css' integrity='sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==' crossorigin='anonymous'/>

<!-- STYLE -->
<link rel="stylesheet" href="./css/style.css">

<body class="flex jc-center ai-center">

    <div id="root" class="app-container flex">
        <!-- LEFT ASIDE -->
        <aside class="left-aside">
            <!-- ASIDE HEADER -->
            <header class="aside-header">                 
                <!-- User -->
                <div class="user flex jc-between ai-center">
                    <!-- User Avatar -->
                    <div class="user-avatar flex ai-center">
                        <img class="avatar" src="./img/avatar_io.jpg" alt="mine avatar">
                        <span class="user-name">Nome Utente</span>
                    </div>
                    <!-- User Icons -->
                    <div class="icons-group user-icons">
                        <a href="#"><i class="fas fa-circle-notch"></i></a>
                        <a href="#"><i class="fas fa-comment-alt"></i></a>
                        <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                    </div>
                </div>
    
                <!-- Notifications -->
                <div class="notification flex ai-center">
                    <!-- Bell Icon -->
                    <i class="fas fa-bell-slash bell flex jc-center ai-center"></i>
                    <!-- Notification Text -->
                    <div class="notification-text">
                        <p>Ricevi notifiche di nuovi messaggi</p>
                        <a href="#">Attiva notifiche desktop</a>
                    </div>
                </div>

                <!-- Search Contacts -->
                <div class="search-contacts">
                    <div class="search-bar flex">
                        <!-- Search Button -->
                        <div class="search-btn flex jc-center ai-center"><i class="fas fa-search"></i></div>
                        <!-- Search Input -->
                        <input class="input-text search-input" placeholder="Cerca o inizia una nuova chat" type="text">
                    </div>
                </div>
            </header>

            <!-- CONTACTS -->
            <section class="contacts">
                <ul class="contacts-list">
                    <li v-for="(contact, index) in contacts" class="contact flex ai-center" :class="{active: isActive(index)}" @click="viewContact(index)">
                        <img class="avatar" :src="'./img/avatar' + contact.avatar + '.jpg'" :alt="contact.name">
                        <div class="contact-name">{{contact.name}}</div>
                    </li>
                </ul>
            </section>
        </aside>

        <!-- APP MAIN -->
        <main class="app-main flex">
            <!-- CHAT HEADER -->
            <header class="chat-header flex jc-between ai-center">
                <!-- Conversation Contact -->
                <div v-show="currentContact.index !== null" class="conv-contact flex ai-center">
                    <img class="avatar" :src="`./img/avatar${currentContact.avatar}.jpg`" alt="avatar">
                    <!-- Contact Data -->
                    <div class="contact-data">
                        <div class="contact-name">{{currentContact.name}}</div>
                        <div class="contact-status">Ultimo accesso oggi alle 10.35</div>
                    </div>
                </div>

                <!-- Chat Header Icons -->
                <div v-show="currentContact.index !== null" class="icons-group chat-header-icons">
                    <a href="#"><i class="fas fa-search"></i></a>
                    <a href="#"><i class="fas fa-paperclip"></i></a>
                    <a href="#"><i class="fas fa-ellipsis-v"></i></a>
                </div>
            </header>

            <!-- CHAT -->
            <section class="chat">
                <div v-for="message in currentContact.messages" class="message-line flex" :class="{sentline: message.status === 'sent'}">
                    <div class="message" :class="{sent: message.status === 'sent'}">
                        <div class="message-text">{{message.message}}</div>
                        <div class="message-time">{{message.date}}</div>
                    </div>
                </div>
            </section>

            <!-- CHAT FOOTER -->
            <footer class="chat-footer flex ai-center">
                <div class="emoji flex jc-center ai-center">
                    <a href="#"><i class="far fa-smile"></i></a>
                </div>
                <input class="input-text chat-input" type="text" placeholder="Scrivi un messaggio">
                <div class="phone flex jc-center ai-center">
                    <a href="#"><i class="fas fa-microphone"></i></a>
                </div>
            </footer>
        </main>
    </div>

    <!-- JAVASCRIPT -->
    <script src="./js/contatti.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>